html{
    height: 100vh;
}
.fa-moon-o{
    animation: spin 3s linear infinite;
}

.fa-sun-o{
    animation: spin 3s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}


#paragraph{
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 30px;
    font-family: sans-serif;
    text-wrap: revert;
    font-size: 1.1em;
}

#button{
    float: right;
    background-color: black;
    padding: 6px;
    border-radius: 3px;
    width: 120px;
    cursor: pointer;
    color: white;
    font-size:1em;
    border: 1px white solid;
}

#icon{
    float: left;
    margin-left: 5px;
}

body.change-background{
    color: white;
    background: black;
}